<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<form class="form-horizontal" action="/admin_dashboard" method="post" style="padding: 9rem;">

    <fieldset>
        <!-- Form Name -->
        <legend>ADD PRODUCTS</legend>
        <a href="/admin_dashboard">got admin dashboard</a>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>
            <div class="col-md-4">
                <input id="product_name" name="productName" placeholder="PRODUCT NAME" class="form-control input-md"  type="text">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_description">PRODUCT DESCRIPTION</label>
            <div class="col-md-4">
                <textarea class="form-control" id="product_description" name="description"></textarea>
            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_categorie">PRODUCT CATEGORY</label>
            <div class="col-md-4">
                <select name="categories" id="category" class="form-control">
                    <% categories.forEach(function(category) { %>
                        <option value="<%= category._id %>"><%= category.name %></option>
                    <% }); %>
                    </select>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="available_quantity">PRODUCT PRICE</label>
            <div class="col-md-4">
                <input id="available_quantity" name="price" placeholder="AVAILABLE QUANTITY" class="form-control input-md"  type="number">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_weight">PRODUCT BRAND</label>
            <div class="col-md-4">
                <input id="product_weight" name="brandName" placeholder="PRODUCT BRAND" class="form-control input-md"  type="text">
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_description">PRODUCT INFORMATION</label>
            <div class="col-md-4">
                <textarea class="form-control" id="product_description" name="information"></textarea>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="percentage_discount">PRODUCT FILE SETUP</label>
            <div class="col-md-4">
                <input id="percentage_discount" name="fileSetUp" placeholder="PRODUCT FILE SETUP" class="form-control input-md"  type="text">
            </div>
        </div>


        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="online_date">Create Date or Manual Date (date and time):</label>
            <div class="col-md-4">
                <input type="datetime-local" id="online_date" name="time" placeholder="ONLINE DATE" class="form-control input-md"  type="text">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <!-- File Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="filebutton">PRODUCT IMAGE(263 * 292)</label>
                <div class="col-md-4">
                    <input id="percentage_discount" name="image" placeholder="IMAGE UPLOAD" class="form-control input-md"  type="text">
                    <a href="/admin_dashboard/uploadImage" target="_blank" class="col-md-4 control-label">Upload Image</a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="filebutton">SLIDER IMAGE(1479 * 211)</label>
                <div class="col-md-4">
                    <input id="percentage_discount" name="sliderImage" placeholder="IMAGE UPLOAD" class="form-control input-md"  type="text">
                    <a href="/admin_dashboard/uploadImage" target="_blank" class="col-md-4 control-label">Upload Image</a>
                </div>
            </div>
            <!-- File Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="filebutton">PRODUCT BACKGROUND IMAGE(1479 * 211)</label>
                <div class="col-md-4">
                    <input id="percentage_discount" name="backgroundImageForProduct" placeholder="IMAGE UPLOAD" class="form-control input-md"  type="text">
                    <a href="/admin_dashboard/uploadImage" target="_blank" class="col-md-4 control-label">Upload Image</a>
                </div>
            </div>
            <!-- Button -->
            <hr>
            <!-- File Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="filebutton">SUB IMAGE 1</label>
                <div class="col-md-4">
                    <input id="percentage_discount" name="subImage1" placeholder="IMAGE UPLOAD" class="form-control input-md"  type="text">
                    <a href="/admin_dashboard/uploadImage" target="_blank" class="col-md-4 control-label">Upload Image</a>
                </div>
            </div>
            <!-- Button -->
            <!-- File Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="filebutton">SUB IMAGE 2</label>
                <div class="col-md-4">
                    <input id="percentage_discount" name="subImage2" placeholder="IMAGE UPLOAD" class="form-control input-md"  type="text">
                    <a href="/admin_dashboard/uploadImage" target="_blank" class="col-md-4 control-label">Upload Image</a>
                </div>
            </div>
            <!-- Button -->
            <!-- File Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="filebutton">SUB IMAGE 3</label>
                <div class="col-md-4">
                    <input id="percentage_discount" name="subImage3" placeholder="IMAGE UPLOAD" class="form-control input-md"  type="text">
                    <a href="/admin_dashboard/uploadImage" target="_blank" class="col-md-4 control-label">Upload Image</a>
                </div>
            </div>
            <!-- Button -->
            <!-- File Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="filebutton">SUB IMAGE 4</label>
                <div class="col-md-4">
                    <input id="percentage_discount" name="subImage4" placeholder="IMAGE UPLOAD" class="form-control input-md"  type="text">
                    <a href="/admin_dashboard/uploadImage" target="_blank" class="col-md-4 control-label">Upload Image</a>
                </div>
            </div>
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton">ADDING PRODUCT</label>
                <div class="col-md-4">
                    <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">SUBMIT</button>
                </div>
            </div>
    </fieldset>
</form>