<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Hersh Company | جوانکاری هێرش | کۆمپانیای هێرش</title>

<!--== Favicon ==-->
<link rel="shortcut icon" href="assets/img/IMG-20210712-WA0002-removebg-preview.png" type="image/x-icon" />

<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="description" content="کۆمپانیای هێرش بۆ بازرگانی گشتی ئۆتۆمبێل وجوانکاری ئۆتۆمبێل و دابینکردنی کەلوپەلی جوانکاری بە کوالێتیەکی بەرز و بەرزکردنەوەی مۆدێلی ئۆتۆمبێلەکانتان بە شێوەیەکی مۆدێرن و سەردەمیانە لەسەر دەستی ستافێکی شارەزا و لێهاتوو"
/>
<meta name="format-detection" content="telephone=yes" />
<meta name="keywords" content="hersh company,Hersh company,hershcompany, هێرش, جوانکاری هێرش, کۆمپانیای هێرش, cars, modern cars, hersh car,hersh, new cars" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-language" content="en" />
<meta name="author" content="kakon soft" />
<meta property="og:site_name" content="hershcars.com" />
<meta property="article:publisher" content="/hershcars" />

<!--== Google Fonts ==-->
<!-- <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,600,700%7CPoppins:400,400i,500,600&display=swap"
    rel="stylesheet"> -->

<!-- build:css assets/css/app.min.css -->
<!--== Leaflet Min CSS ==-->
<link href="assets/css/leaflet.min.css" rel="stylesheet" />
<!--== Nice Select Min CSS ==-->
<link href="assets/css/nice-select.min.css" rel="stylesheet" />
<!--== Slick Slider Min CSS ==-->
<link href="assets/css/slick.min.css" rel="stylesheet" />
<!--== Magnific Popup Min CSS ==-->
<link href="assets/css/magnific-popup.min.css" rel="stylesheet" />
<!--== Slicknav Min CSS ==-->
<link href="assets/css/slicknav.min.css" rel="stylesheet" />
<!--== Animate Min CSS ==-->
<link href="assets/css/animate.min.css" rel="stylesheet" />
<!--== Ionicons Min CSS ==-->
<link href="assets/css/ionicons.min.css" rel="stylesheet" />
<!--== Font-Awesome Min CSS ==-->
<link href="assets/css/font-awesome.min.css" rel="stylesheet" />
<!--== Bootstrap Min CSS ==-->
<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!--== Main Style CSS ==-->
<link href="assets/css/style.css" rel="stylesheet" />
<!--== Helper Min CSS ==-->
<link href="assets/css/helper.min.css" rel="stylesheet" />
<!-- endbuild -->

<!--[if lt IE 9]>
<script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<style>
    @font-face {
        font-family: "rudawregular2";
        src: url("rudawregular2.eot");
        /* IE9 Compat Modes */
        src: url("rudawregular2.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("rudawregular2.ttf") format("truetype"), /* Safari, Android, iOS */
        url("/assets/fonts/rudawregular2.woff") format("woff");
        /* Modern Browsers */
        font-weight: normal;
        font-style: normal;
    }
    
    .font_rudawregular2 {
        font-family: 'rudawregular2';
    }
    
    @font-face {
        font-family: "rudawregular2";
        src: url("rudawregular2.eot");
        /* IE9 Compat Modes */
        src: url("rudawregular2.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("rudawregular2.ttf") format("truetype"), /* Safari, Android, iOS */
        url("/assets/fonts/rudawregular2.woff") format("woff");
        /* Modern Browsers */
        font-weight: normal;
        font-style: normal;
    }
    
    .font_rudawregular2 {
        font-family: 'rudawregular2';
    }
</style>