<!DOCTYPE html>
<html dir="ltr" lang="en" class="no-outlines">

<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('./body'); %>
    <!-- Scripts -->
    <%- include('../partials/scriptFooter'); %>
    <!-- Page Level Scripts -->
</body>
</html>