@font-face {
    font-family: 'hershcar';
    src: url('/assets/fonts/rudawregular2.eot');
    /* IE9 Compat Modes */
    src: url('/assets/fonts/rudawregular2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/rudawregular2.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/rudawregular2.woff') format('woff');
    /* Modern Browsers */
    font-weight: normal;
}

.pretag {
    overflow-x: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.font-change {
    font-family: 'hershcar';
}

body {
    color: #566787;
    background: #e8e8e8;
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
}

.table-responsive {
    margin: 30px 0;
}

.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    border-radius: 3px;
    min-width: 1000px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
    padding-bottom: 15px;
    background: #435d7d;
    color: #fff;
    padding: 16px 30px;
    min-width: 100%;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}

.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}

.table-title .btn-group {
    float: right;
}

.table-title .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}

.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}

.table-title .btn span {
    float: left;
    margin-top: 2px;
}

table.table tr th,
table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}

table.table tr th:first-child {
    width: 60px;
}

table.table tr th:last-child {
    width: 100px;
}

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}

table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}

table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
}

table.table td a:hover {
    color: #2196F3;
}

table.table td a.edit {
    color: #FFC107;
}

table.table td a.delete {
    color: #F44336;
}

table.table td i {
    font-size: 19px;
}

table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.pagination {
    float: right;
    margin: 0 0 5px;
}

.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}

.pagination li a:hover {
    color: #666;
}

.pagination li.active a,
.pagination li.active a.page-link {
    background: #03A9F4;
}

.pagination li.active a:hover {
    background: #0397d6;
}

.pagination li.disabled i {
    color: #ccc;
}

.pagination li i {
    font-size: 16px;
    padding-top: 6px
}

.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}


/* Custom checkbox */

.custom-checkbox {
    position: relative;
}

.custom-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
}

.custom-checkbox label:before {
    width: 18px;
    height: 18px;
}

.custom-checkbox label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: white;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
}

.custom-checkbox input[type="checkbox"]:checked+label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: inherit;
    z-index: 3;
    transform: rotateZ(45deg);
}

.custom-checkbox input[type="checkbox"]:checked+label:before {
    border-color: #03A9F4;
    background: #03A9F4;
}

.custom-checkbox input[type="checkbox"]:checked+label:after {
    border-color: #fff;
}

.custom-checkbox input[type="checkbox"]:disabled+label:before {
    color: #b8b8b8;
    cursor: auto;
    box-shadow: none;
    background: #ddd;
}


/* Modal styles */

.modal .modal-dialog {
    max-width: 400px;
}

.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
    padding: 20px 30px;
}

.modal .modal-content {
    border-radius: 3px;
    font-size: 14px;
}

.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}

.modal .modal-title {
    display: inline-block;
}

.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}

.modal textarea.form-control {
    resize: vertical;
}

.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}

.modal form label {
    font-weight: normal;
}


/* body
      {
        background: #000e29;
      }

      
      .alert>.start-icon {
          margin-right: 0;
          min-width: 20px;
          text-align: center;
      }
      
      .alert>.start-icon {
          margin-right: 5px;
      }
      
      .greencross
      {
        font-size:18px;
            color: #25ff0b;
          text-shadow: none;
      }
      
      .alert-simple.alert-success
      {
        border: 1px solid rgba(36, 241, 6, 0.46);
          background-color: rgba(7, 149, 66, 0.12156862745098039);
          box-shadow: 0px 0px 2px #259c08;
          color: #0ad406;
        text-shadow: 2px 1px #00040a;
        transition:0.5s;
        cursor:pointer;
      }
      .alert-success:hover{
        background-color: rgba(7, 149, 66, 0.35);
        transition:0.5s;
      }
      .alert-simple.alert-info
      {
        border: 1px solid rgba(6, 44, 241, 0.46);
          background-color: rgba(7, 73, 149, 0.12156862745098039);
          box-shadow: 0px 0px 2px #0396ff;
          color: #0396ff;
        text-shadow: 2px 1px #00040a;
        transition:0.5s;
        cursor:pointer;
      }
      
      .alert-info:hover
      {
        background-color: rgba(7, 73, 149, 0.35);
        transition:0.5s;
      }
      
      .blue-cross
      {
        font-size: 18px;
          color: #0bd2ff;
          text-shadow: none;
      }
      
      .alert-simple.alert-warning
      {
            border: 1px solid rgba(241, 142, 6, 0.81);
          background-color: rgba(220, 128, 1, 0.16);
          box-shadow: 0px 0px 2px #ffb103;
          color: #ffb103;
          text-shadow: 2px 1px #00040a;
        transition:0.5s;
        cursor:pointer;
      }
      
      .alert-warning:hover{
        background-color: rgba(220, 128, 1, 0.33);
        transition:0.5s;
      }
      
      .warning
      {
            font-size: 18px;
          color: #ffb40b;
          text-shadow: none;
      }
      
      .alert-simple.alert-danger
      {
        border: 1px solid rgba(241, 6, 6, 0.81);
          background-color: rgba(220, 17, 1, 0.16);
          box-shadow: 0px 0px 2px #ff0303;
          color: #ff0303;
          text-shadow: 2px 1px #00040a;
        transition:0.5s;
        cursor:pointer;
      }
      
      .alert-danger:hover
      {
           background-color: rgba(220, 17, 1, 0.33);
        transition:0.5s;
      }
      
      .danger
      {
            font-size: 18px;
          color: #ff0303;
          text-shadow: none;
      }
      
      .alert-simple.alert-primary
      {
        border: 1px solid rgba(6, 241, 226, 0.81);
          background-color: rgba(1, 204, 220, 0.16);
          box-shadow: 0px 0px 2px #03fff5;
          color: #03d0ff;
          text-shadow: 2px 1px #00040a;
        transition:0.5s;
        cursor:pointer;
      }
      
      .alert-primary:hover{
        background-color: rgba(1, 204, 220, 0.33);
         transition:0.5s;
      }
      
      .alertprimary
      {
            font-size: 18px;
          color: #03d0ff;
          text-shadow: none;
      }
      
      .square_box {
          position: absolute;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          border-top-left-radius: 45px;
          opacity: 0.302;
      }
      
      .square_box.box_three {
          background-image: -moz-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
          background-image: -webkit-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
          background-image: -ms-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
          opacity: 0.059;
          left: -80px;
          top: -60px;
          width: 500px;
          height: 500px;
          border-radius: 45px;
      }
      
      .square_box.box_four {
          background-image: -moz-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
          background-image: -webkit-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
          background-image: -ms-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
          opacity: 0.059;
          left: 150px;
          top: -25px;
          width: 550px;
          height: 550px;
          border-radius: 45px;
      }
      
      .alert:before {
          content: '';
          position: absolute;
          width: 0;
          height: calc(100% - 44px);
          border-left: 1px solid;
          border-right: 2px solid;
          border-bottom-right-radius: 3px;
          border-top-right-radius: 3px;
          left: 0;
          top: 50%;
          transform: translate(0,-50%);
            height: 20px;
      }
      
      .fa-times
      {
      -webkit-animation: blink-1 2s infinite both;
                  animation: blink-1 2s infinite both;
      }
      
      
      
      @-webkit-keyframes blink-1 {
        0%,
        50%,
        100% {
          opacity: 1;
        }
        25%,
        75% {
          opacity: 0;
        }
      }
      @keyframes blink-1 {
        0%,
        50%,
        100% {
          opacity: 1;
        }
        25%,
        75% {
          opacity: 0;
        }
      } */