<div class="banner-area-wrapper banner-mt">
    <div class="container container-wide">
        <div class="row">
            <% banners.forEach(function(product) { %>
            <div class="col-md-6 col-lg-4">
                <div class="banner-item">
                    <div class="banner-item__img">
                        <a href="#"><img src="/<%= product.image %>" alt="Banner" /></a>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</div>