<div class="brand-logo-area sm-top sm-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="brand-logo-content">

                    <div class="brand-logo-item">
                        <a href="#"><img width="120px" height="120px" src="assets/img/brand-logo/image 2.svg" alt="Logo" /></a>
                    </div>

                    <div class="brand-logo-item mt-3">
                        <a href="#"><img width="150px" height="80px" src="assets/img/brand-logo/image 5.svg" alt="Logo" /></a>
                    </div>

                    <div class="brand-logo-item mt-3">
                        <a href="#"><img width="135px" height="80px" src="assets/img/brand-logo/image 3.svg" alt="Logo" /></a>
                    </div>
                    <div class="brand-logo-item ">
                        <a href="#"><img width="100px" height="120px" src="assets/img/brand-logo/image 1.svg" alt="Logo" /></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img width="150px" height="110px" src="assets/img/brand-logo/image 4.svg" alt="Logo" /></a>
                    </div>






                </div>
            </div>
        </div>
    </div>
</div>