<div class="slider-area-wrapper">

    <div class="slider-content-active">
        <div class="slider-slide-item bg-img" data-bg="/images/banner/First.jpg">
            <div class="container container-wide h-100">
                <div class="row align-items-center h-100">
                    <div class="col-lg-6">
                        <!--   <div class="slide-content">
                            <div class="slide-content-inner">
                                <p class="sliderFont">کۆمپانیای هێرش بۆ</h3>
                                <p class="sliderFont">بازرگانی گشتی کەلووپەلی جوانکاری ئۆتۆمبێل و فرۆشتنی ئۆتۆمبێل</h3>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-slide-item bg-img" data-bg="/images/banner/second.jpg">
            <div class="container container-wide h-100">
                <div class="row align-items-center h-100">
                    <div class="col-lg-6">
                        <!--   <div class="slide-content">
                        <div class="slide-content-inner">
                            <p class="sliderFont">کۆمپانیای هێرش بۆ</h3>
                            <p class="sliderFont">بازرگانی گشتی کەلووپەلی جوانکاری ئۆتۆمبێل و فرۆشتنی ئۆتۆمبێل</h3>
                        </div>
                    </div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-slide-item bg-img" data-bg="/images/banner/third.jpg">
            <div class="container container-wide h-100">
                <div class="row align-items-center h-100">
                    <div class="col-lg-6">
                        <!--    <div class="slide-content">
                            <div class="slide-content-inner">
                                <p class="sliderFont">کۆمپانیای هێرش بۆ</h3>
                                <p class="sliderFont">بازرگانی گشتی کەلووپەلی جوانکاری ئۆتۆمبێل و فرۆشتنی ئۆتۆمبێل</h3>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="slider-slide-item bg-img" data-bg="">
                <div class="container container-wide h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-lg-6">
                            <!--  <div class="slide-content">
                            <div class="slide-content-inner">
                                <p class="sliderFont">کۆمپانیای هێرش بۆ</h3>
                                <p class="sliderFont">بازرگانی گشتی کەلووپەلی جوانکاری ئۆتۆمبێل و فرۆشتنی ئۆتۆمبێل</h3>
                            </div>
                        </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>