<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../admin_dashboard/head'); %>
        <title>جوانکاری هێرش</title>

</head>

<body>
    <%- include('../admin_dashboard/body'); %>
</body>

</html>