<!DOCTYPE html>
<html class="no-js">

<head>
    <%- include('../partials/head'); %>
        <title>جوانکاری هێرش</title>
</head>

<body>
    <%- include('../includes/contact/body'); %>
        <!--=======================Javascript============================-->
        <%- include('../partials/scripts'); %>
</body>

</html>