<section class="destination-area position-relative section-bg padding-top-100px padding-bottom-140px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading text-center">
                    <h2 class="sec__title"><%= i18n.__("our Available Airlines")%>
                    </h2>
                </div>
                <!-- end section-heading -->
            </div>
            <!-- end col-lg-12 -->
        </div>
        <!-- end row -->
        <div class="row padding-top-60px">
            <div class="col-lg-12">
                <div class="car-wrap">
                    <div class="car-carousel carousel-action">
                        <div class="card-item destination-card">
                            <div class="card-img">
                                <img src="../../assets/img/German_Airways_Logo.svg.png" alt="destination-img">
                            </div>
                            
                        </div>
                        <!-- end card-item -->
                        <div class="card-item destination-card">
                            <div class="card-img">
                                <img src="../../assets/img/unnamed.png" height="210px" alt="destination-img">
                            </div>
                           
                        </div>
                        <!-- end card-item -->
                        <div class="card-item destination-card">
                            <div class="card-img">
                                <img src="../../assets/img/Qatar-Airways-Emblem.png" alt="destination-img">
                            </div>
                           
                        </div>
                        <!-- end card-item -->
                        <div class="card-item destination-card">
                            <div class="card-img">
                                <img src="../../assets/img/Turkish-Airlines-Logo.png" alt="destination-img">
                            </div>
                           
                        </div>
                        <!-- end card-item -->
                    </div>
                    <!-- end car-carousel -->
                </div>
            </div>
            <!-- end col-lg-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
    <svg class="cta-svg" viewBox="0 0 500 150" preserveAspectRatio="none">
<path d="M-103.55,167.27 C150.39,-132.72 134.59,237.33 517.77,30.09 L500.00,150.00 L0.00,150.00 Z"></path>
</svg>
</section>